<h1>Detail <%= singular_table_name %></h1>
<hr>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-toolbar">
			<%%= link_to 'Volver', <%= index_helper %>_path, :class => "btn btn-link" %>
			<%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), data: { tooltip: 'tooltip' }, class: "btn btn-default", title: "Edit" do %>
	          	<span class="glyphicon glyphicon-pencil"></span>
	        <%% end %>
			<%%= link_to @<%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, data: { tooltip: 'tooltip' }, class: "btn btn-default", title: "Delete" do %>
	          	<span class="glyphicon glyphicon-trash"></span>
	        <%% end %>
		</div>    
	</div>
	<div class="panel-body">
		
		<table class="table table-bordered">
			<tbody>
			<% attributes.reject(&:password_digest?).each do |attribute| -%>
			<%- if attribute.reference? -%>
				<tr>
					<th><%= attribute.human_name %>:</th>
					<td><%%= @<%= singular_table_name %>.<%= attribute.name %>.name %></td>
				</tr>
			<%- else -%>
				<tr>
				  <th><%= attribute.human_name %>:</th>
				  <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
				</tr>
			<%- end -%>
			<% end -%>
			</tbody>
		</table>

	</div>
</div>
