
<div class="container homepage">
	<div class="row">
	  	<div class="col-md-8">
	      	<br><br><!--TRUCO SUCIO-->
	    	<%= image_tag("ot-maker-logo-color-login.png", :class => "img-responsive") %>
	  	</div>
	  	<div class="col-md-4">
		    <div class="panel panel-default">
		    	<div class="panel-heading">Forgot your password?</div>
		  		<div class="panel-body">

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-group">
				  	<div><%= f.label :email %><br />
				  		<%= f.email_field :email, :autofocus => true,:class => "form-control input-sm" %>
					</div>
					<br>
				  	<div>
				  		<%= f.submit "Enviar instrucciones", :class => "btn btn-success float-right" %>
				  	</div>
				</div>
				<% end %>

				
				</div>
			</div>
			<div class="text-center">
				<%= render "devise/shared/links" %>
			</div>
		</div>

	</div>
</div>
